
:root{
    --clr-blue: rgb(0, 83, 155);
    --clr-red: rgb(227, 27, 35);
    --clr-black: rgb(0, 0, 0);
}

body { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    background-color: var(--clr-black);
    color: white;
}

header { 
    background: var(--clr-red); 
    color: white; 
    padding: 10px; 
    text-align: center; 
}

nav { 
    background: #333; 
    padding: 0; 
    margin: 0; 
}

nav ul { 
    list-style-type: none; 
}

nav ul li { 
    display: inline; 
}

nav ul li a { 
    color: white; 
    padding: 14px 20px; 
    text-decoration: none; 
}

nav ul li a:hover { 
    background-color: var(--clr-blue); 
    color: rgb(0, 0, 0); 
    transition: ease-in-out 0.2s ;
}

main { 
    padding: 15px; 
}

footer { 
    background: var(--clr-red); 
    color: white; 
    text-align: center; 
    padding: 10px; 
    bottom: 0; 
    width: 100.5%;
    margin-left: -20px; 
    margin-bottom: -20px;
    margin-right: -20px;
}
#home{
    h2{
        font-size: 35px;
    }
}
#mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
}
/*card section*/
.cards_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
}
.cards{
    padding: 25px;
    margin: 10px;
    height: 400px;
    width: 350px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 8px #8794a0;
    border-left: solid 8px #8794a0;
    transition: 0.2s ease-in-out;
    background-color: #8794a0;
}
.cards p {
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
}
.cards:hover {
    transform: scale(1.07);
    transition: ease-in-out 0.2s;
}
.img{
    width: 225px;
    height: 117px;
}
.imgs{
    width: 700px;
    height: 350px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #8794a0;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: var(--clr-blue);
}
.dropdown:hover .dropdown-content {
display: block;
}
.dropdown:hover .dropbtn {
    background-color: var(--clr-blue);
}
.transport1{
    width: 500px;
}
/*events*/
#form_purch1{
    display: none;
    font-size: 1.5rem;
}

#form_purch1 button{
    height: 50px;
    width: 100px;
    font-size: 1.3rem;
}

#form_purch2{
    display: none;
    font-size: 1.5rem;
}

#form_purch2 button{
    height: 50px;
    width: 100px;
    font-size: 1.3rem;
}

#output_Cost1{
    font-size: 2rem;
}

#output_Cost2{
    font-size: 2rem;
}
.eventimg{
    width: 300px;
}
.example_items{
    display: inline-flex;
}

.card{
    padding: 15px;
    border-radius: 5px;
    border-right: solid 8px var(--clr-borders);
    background-color: var(--clr-DarkishBlue);
    transition: 0.2s ease-in-out;
    margin-bottom: 25px;
}

.card img{
    border-radius: 5px;
}

.card:hover{
    transform: scale(1.02);
}

#card_bay{
    width: 650px;
    height: 570px;
    margin-left: 15px;
}

#card_Hotel{
    width: 650px;
    height: 570px;
}

#card_sub{
    width: 650px;
    height: 570px;
}

.cost_text{
    text-align: center;
    font-size: 1.5rem;
}
.cost_text2{
    text-align: center;
    margin-top: 30px;
    font-size: 1.5rem;
}

.events_button{
    font-weight: 100;
    font-size: 2.5rem;
    padding: 5px;
    height: 70px;
    width: 180px;
    margin-left: 470px;
    transform: translateY(-40px);
    transition: 0.4s ease-in-out;
}


#zoombezi_button{
    transform: translateY(-20px);
    margin-left: 470px;
}

/*responsive*/
#mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
}
.navbar_toggle .bar{
    width: 25px;
    height: 4px;
    margin: 5px auto;
    transition: all .3s ease-in-out;
    display: block;
    cursor: pointer;
    background: #fff;
}
.gmaps{
 border-width: 5px;
 border-color: #8794a0;
 border-style: solid;
}